<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbcourse.classchoose.mapper.GradeMapper">
<select id="getAll" resultType="com.dbcourse.classchoose.entity.DTO.GradeDTO">
    select grade.id id,grade.sno sno,student.sname sname,grade.cno cno,clazz.cname cname,grade.term term,grade.tno tno,teacher.tname tname,grade.usual_grade usualGrade,grade.final_grade finalGrade,grade.total_grade totalGrade
        from grade , student ,teacher, clazz where grade.sno = student.sno and grade.tno=teacher.tno and grade.cno = clazz.cno
</select>
</mapper>
