<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbcourse.classchoose.mapper.SelectedCourseMapper">
    <select id="findTeacherCourseRecord" resultType="com.dbcourse.classchoose.entity.DTO.TeacherCourseDTO">
        select
            selected_course.sno sno,
            student.sname sname,
            selected_course.cno cno,
            clazz.cname cname,
            selected_course.term term,
            selected_course.usual_grade usualGrade,
            selected_course.final_grade finalGrade,
            selected_course.total_grade totalGrade
        from
            (selected_course left join student on selected_course.sno = student.sno)
            left join clazz on selected_course.cno = clazz.cno

    </select>

    <select id="selectBySno" parameterType="java.lang.String" resultType="com.dbcourse.classchoose.entity.DTO.GradeDTO">
        select
            selected_course.id id,
            selected_course.sno sno,
            student.sname sname,
            selected_course.cno cno,
            clazz.cname cname,
            selected_course.term term,
            selected_course.tno tno,
            teacher.tname tname,
            selected_course.usual_grade usualGrade,
            selected_course.final_grade firstGrade,
            selected_course.total_grade totalGrade,
            clazz.credit credit
        from selected_course left join student on selected_course.sno = student.sno
        left join clazz on selected_course.cno = clazz.cno
        left join teacher on selected_course.tno = teacher.tno
        where selected_course.sno=#{sno}
    </select>

    <insert id="insertCourse">
        insert into selected_course(sno,cno,term,tno)
        values (#{sno},#{cno},#{term},#{tno})
    </insert>

    <select id="getByTnoTermCno" resultType="com.dbcourse.classchoose.entity.DTO.GradeDTO">
        select
            selected_course.id id,
            selected_course.sno sno,
            student.sname sname,
            selected_course.cno cno,
            clazz.cname cname,
            selected_course.term term,
            selected_course.tno tno,
            teacher.tname tname,
            selected_course.usual_grade usualGrade,
            selected_course.final_grade firstGrade,
            selected_course.total_grade totalGrade,
            clazz.credit credit
        from selected_course left join student on selected_course.sno = student.sno
                             left join clazz on selected_course.cno = clazz.cno
                             left join teacher on selected_course.tno = teacher.tno
        where selected_course.tno=#{tno} and selected_course.term=#{term} and selected_course.cno=#{cno}
    </select>

</mapper>
